<% if @project.packages.present? %>
    <hr>
    <h2>
      Package metadata
    </h2>

    <ul>
      <li>
        Total packages: <%= number_with_delimiter @project.packages.length %>
      <li>
        Total downloads: 
        <% if @project.packages.sum{|p| p['downloads'] || 0 } > 0 %>
        <ul>
          <% @project.packages.group_by{|p| p['ecosystem'] }.each do |ecosystem, pkgs| %>
            <% next if pkgs.sum{|p| p['downloads'] || 0 }.zero? %>
            <li>
              <%= ecosystem %>:
              <%= number_with_delimiter pkgs.sum{|p| p['downloads'] || 0 } %>
              <%= pkgs.first['downloads_period'] %>
            </li>
          <% end %>
        </ul>
        <% else %>
          <i>unknown</i>
        <% end %>
      </li>
      <% if @project.packages.map{|p| p['docker_downloads_count'] || 0 }.sum > 0 %>
      <li>
        Total docker downloads: <%= number_with_delimiter @project.packages.map{|p| p['docker_downloads_count'] || 0 }.sum %>
      </li>
      <% end %>
      <li>
        Total dependent packages: <%= number_with_delimiter @project.packages.sum{|p| p['dependent_packages_count'] || 0 } %>
        <% if @project.packages.length > 1 %>
          <small class='text-muted'>(may contain duplicates)</small>
        <% end %>
      </li>
      <li>
        Total dependent repositories: <%= number_with_delimiter @project.packages.sum{|p| p['dependent_repos_count'] || 0 } %>
        <% if @project.packages.length > 1 %>
          <small class='text-muted'>(may contain duplicates)</small>
        <% end %>
      </li>
      <li>
        Total versions: <%= number_with_delimiter @project.packages.sum{|p| p['versions_count'] || 0 } %>
      </li>
      <% if @project.packages.map{|p| p['maintainers'].map{|m| m['uuid'] } }.flatten.uniq.length > 0 %>
      <li>
        Total maintainers: <%= number_with_delimiter @project.packages.map{|p| p['maintainers'].map{|m| m['uuid'] } }.flatten.uniq.length %>
      </li>
      <% end %>
      <% if @project.packages.map{|p| p['advisories'] }.flatten.uniq.length > 0 %>
      <li>
        Total advisories: <%= number_with_delimiter @project.packages.map{|p| p['advisories'] }.flatten.uniq.length %>
      </li>
      <% end %>
    </ul>


    <% @project.packages.sort_by{|p| p['rankings']['average'] || 100 }.each do |package| %>
      <div class='card mb-3'>
        <div class="card-body pb-1">
          <div class="d-flex">
            <div class="flex-grow-1 ms-3 text-break">
              <h5 class='card-title'>
                <%= link_to package['registry']['name'], package['registry']['url'] %>: <%= link_to package['name'], package['registry_url'] %>
              </h5>

              <p class="card-subtitle mb-2 text-muted">
                <%= package['description'] %>
              </p>

              <ul>
                <li>
                  Homepage: <%= package['homepage'] %>
                </li>
                <% if package['keywords'].present? %>
                <li>
                  Keywords: <%= package['keywords'].join(', ') %>
                </li>
                <% end %>
                <% if package['status'].present? %>
                <li>
                  Status: <%= package['status'] %>
                </li>
                <% end %>
                <% if package['documentation_url'].present? %>
                  <li>
                    Documentation: <%= link_to package['documentation_url'], package['documentation_url'] %>
                  </li>
                <% end %>
                <li>
                  Licenses: <%= package['licenses'] %>
                </li>
                <% if package['keywords'].present? %>
                <li>
                  Keywords: <%= package['keywords'] %>
                </li>
                <% end %>
                <li>
                  Latest release: <%= package['latest_release_number'] %> 
                  <% if package['latest_release_published_at'] %>
                    <i>
                      (published <%= distance_of_time_in_words_to_now package['latest_release_published_at'] %> ago)
                    </i>
                  <% end %>
                </li>
                <li>
                  Last Synced: <%= package['last_synced_at'] %> 
                  (<%= distance_of_time_in_words_to_now package['last_synced_at'] %> ago)
                </li>
                <li>
                  Versions: <%= number_with_delimiter package['versions_count'] %>
                </li>
                <li>
                  Dependent Packages: <%= link_to number_with_delimiter(package['dependent_packages_count']), package['dependent_packages_url'].gsub('/api/v1', ''), target: :_blank %>
                </li>
                <li>
                  Dependent Repositories: <%= link_to number_with_delimiter(package['dependent_repos_count']), "https://repos.ecosyste.ms/usage/#{package['ecosystem']}/#{package['name']}", target: :_blank %>
                </li>
                <% if package['downloads'] %>
                <li>
                  Downloads: <%= number_with_delimiter(package['downloads']) %> <%= package['downloads_period'].try(:humanize).try(:gsub,'-', ' ') %> 
                </li>
                <% end %>
                <% if package['docker_downloads_count'] %>
                <li>
                  Docker Downloads: <%= number_with_delimiter(package['docker_downloads_count']) %>
                </li>
                <% end %>
                <li>
                  Rankings:
                  <ul>
                    <% package['rankings'].sort_by{|k,v| v.nil? ? 100 : v }.each do |k,v| %>
                      <% next if v.nil? %>
                      <li>
                        <%= k.humanize %>: <%= v.round(3) %>%
                      </li>
                    <% end%>
                  </ul>
                </li>
                <% if package['maintainers'].any? %>
                <li>
                  Maintainers (<%= package['maintainers'].length %>)
                  <ul>
                    <% package['maintainers'].each do |maintainer| %>
                      <li>
                        <%= link_to (maintainer['login'] || maintainer['uuid']), maintainer['html_url'] %>
                      </li>
                    <% end%>
                  </ul>
                </li>
                <% end%>
                <% if package['metadata'] %>
                  <% if package['metadata']['funding'] %>
                    <li>
                      Funding: 
                      <ul>
                        <% Array(package['metadata']['funding']).each do |link| %>
                          <li>
                            <%= Array(link).join(': ') %>
                          </li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                <% end %>
                <% if package['advisories'].any? %>
                  <li>
                    Advisories:
                    <ul>
                      <% package['advisories'].each do |advisory| %>
                        <li>
                          <%= link_to advisory['title'], advisory['url'] %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
