
<div class="container-md">
    <ul class="nav nav-tabs my-3">
      <li class="nav-item">
        <h2>
          Projects to review
          <span class="badge bg-light text-muted"><%= @pagy.count %></span>
        </h2>
      </li>
      <li class="nav-item ms-auto">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item <%= 'active' if params[:sort] == 'vote_count' && params[:order] == 'desc'  %>" href="<%= url_for(sort: 'vote_count', order: 'desc') %>">Most votes</a></li>
            <li><a class="dropdown-item <%= 'active' if params[:sort] == 'vote_count' && params[:order] == 'asc' %>" href="<%= url_for(sort: 'vote_count', order: 'asc') %>">Least votes</a></li>
            <li><a class="dropdown-item <%= 'active' if params[:sort] == 'vote_score' %>" href="<%= url_for(sort: 'vote_score', order: 'desc') %>">Vote score</a></li>
            <li><a class="dropdown-item <%= 'active' if params[:sort] == 'score' %>" href="<%= url_for(sort: 'score', order: 'desc') %>">Ranking</a></li>
            <li><a class="dropdown-item <%= 'active' if params[:sort] == 'last_synced_at' %>" href="<%= url_for(sort: 'last_synced_at', order: 'desc') %>">Recently synced</a></li>
            <li><a class="dropdown-item <%= 'active' if params[:sort] == 'created_at' %>" href="<%= url_for(sort: 'created_at', order: 'desc') %>">Recently added</a></li>
          </ul>
        </div>
      </li>
    </ul>


  <% @projects.each do |project| %>
    <%= render partial: 'project_review', locals: {project: project}%>
  <% end %>
  <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
</div>