<div class="container-md">
  <%= form_with url: search_projects_path, method: :get, local: true do %>
    <div class="form-group d-flex mb-3">
      <%= text_field_tag :q, params[:q], class: "form-control me-2", placeholder: "Enter search term" %>
      <%= submit_tag "Search", class: "btn btn-primary", name: nil %>
    </div>
  <% end %>

  <% if @projects.any? %>
    <%= render @projects %>
    <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
  <% else %>
    <div class="alert alert-info" role="alert">
      No projects found for the search term "<%= params[:q] %>"
    </div>
  <% end %>
</div>