<div class="container-md">
  <div class="row">
    <div class="col-md-3">
      <% @projects.facets_distribution.each do |facet, values| %>
        <div class="mb-3">
          <div class="list-group">
            <div class="list-group-item list-group-item-secondary">
              <%= facet.humanize %>
            </div>
            <% values.each_with_index do |(value, count), index| %>
              <% is_selected = params[facet] == value %>
              <%= link_to search_projects_path(
                    is_selected ? params.permit!.except(facet) : params.permit!.merge(facet => value)
                  ), 
                  class: "list-group-item list-group-item-action d-flex justify-content-between align-items-center #{'active' if is_selected} #{'d-none' if index >= 20}",
                  data: { facet: facet } do %>
                <span><%= value %></span>
                <span class="badge bg-secondary"><%= count %></span>
              <% end %>
            <% end %>
            <% if values.size > 20 %>
              <div class="list-group-item text-center">
                <button class="btn btn-link p-0 show-more" data-facet="<%= facet %>">Show More</button>
              </div>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>

    <div class="col-md-9">
      <% if @projects.any? %>
        <%= render @projects %>
        <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
      <% else %>
        <div class="alert alert-info" role="alert">
          No projects found for the search term "<%= params[:q] %>"
        </div>
      <% end %>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    document.querySelectorAll(".show-more").forEach(button => {
      button.addEventListener("click", function() {
        const facet = this.dataset.facet;
        
        // Show all hidden facet items
        document.querySelectorAll(`.list-group-item[data-facet="${facet}"].d-none`).forEach(el => {
          el.classList.remove("d-none");
        });

        // Remove the entire list-group-item containing the button
        this.closest(".list-group-item").remove();
      });
    });
  });
</script>