<% @meta_title = "#{@project}" %>

<div class="container-md">
  <h1>
    <%= @project.to_s %><br/>
  </h1>

  <p>
    <%= @project.description %> <br/>
    <%= link_to @project.url, @project.url %>
  </p>

  <% if @project.reviewed %>
    <p>
      Category: <%= link_to @project.category, category_path(@project.category) %><br>
      Sub Category: <%= link_to @project.sub_category, sub_category_category_path(@project.category, @project.sub_category) %>
    </p>
  <% end %>

      
  <% if @project.last_synced_at %>
  
    <% if @project.keywords.any? %>
      <h4>Keywords</h4>
      <p>
        <% @project.keywords.each do |keyword| %>
          <span class="badge bg-light text-dark">
            <%= keyword %>
          </span>
        <% end %>
      </p>
    <% end %>

    <% if @project.keywords_from_contributors.any? %>
      <h4>Keywords from Contributors</h4>
      <p>
        <% @project.keywords_from_contributors.each do |keyword| %>
          <span class="badge bg-light text-dark">
            <%= keyword %>
          </span>
        <% end %>
      </p>
    <% end %>


    <p class="card-subtitle mb-2 text-muted"><i><small>
        Last synced: <%= distance_of_time_in_words_to_now @project.last_synced_at %> ago <br>
        <%= link_to 'JSON representation', api_v1_project_path(@project) %>
    </small></i></p>

    <% unless @project.reviewed %>
      <h3>Acceptance Criteria</h3>
      <ul>
        <li>
          Revelant topics? <span title='<%= @project.matching_topics.join(', ') %>'><%= @project.good_topics? %></span>
        </li>
        <li>
          External users? <%= @project.external_users? %>
        </li>
        <li>
          Open source license? <%= @project.open_source_license? %>
        </li>
        <li>
          Active? <%= @project.active? %>
        </li>
        <li>
          Fork? <%= @project.fork? %>
        </li>
      </ul>

      <%= button_to "ðŸ‘ #{@project.votes.select{|v| v.score > 0}.length}", project_votes_path(project_id: @project, vote: {score: 1}), class: "btn btn-light", form_class: 'd-inline' %>
      <%= button_to "ðŸ‘Ž #{@project.votes.select{|v| v.score < 0}.length}", project_votes_path(project_id: @project, vote: {score: -1}), class: "btn btn-light", form_class: 'd-inline' %>
    <% end %>

    <%= render 'repository' %>
    <%= render 'citation' %>
    <%= render 'owner' %>
    <%= render 'events' %>
    <%= render 'committers' %>
    <%= render 'issues' %>
    <%= render partial: 'packages', locals: {project: @project } %>
    <%= render 'dependencies' %>

    <p>
      Score: <%= @project.score %>
    </p>
  <% else %>
    <p>
      This project has not been synced yet. Check back in a few minutes.
      <meta http-equiv="refresh" content="10">
    </p>
  <% end %>

</div>