<%= @meta_title = "#{@category}" %>
<%= @meta_description = "Browse open sustainable open source software projects in the #{@category} category" %>

<div class="container-md">
  <h1>
    <%= link_to 'Categories', categories_path %> - <%= link_to @category, category_path(@category) %>
    <% if @sub_category %>
      - <%= @sub_category %>
    <% end %>
  </h1>

  <% if @sub_category %>
    <h2>Topics</h2>

    <p>
      <small>
        <% Project.unique_keywords_for_sub_category(@sub_category).each do |topic| %>
          <%= link_to topic, "https://github.com/topics/#{topic}", target: :_blank %>,
        <% end %>
      </small>
    </p>

  <% else %>
    <h2>Sub Categories</h2>
    <ul>
      <% @sub_categories.each do |sub_category| %>
        <li>
          <%= link_to sub_category[:sub_category], sub_category_category_path(@category, sub_category[:sub_category]) %> - <%= sub_category[:count] %> projects
        </li>
      <% end %>
    </ul>

    <h2>Topics</h2>

    <p>
      <small>
        <% Project.unique_keywords_for_category(@category).each do |topic| %>
          <%= link_to topic, "https://github.com/topics/#{topic}", target: :_blank %>,
        <% end %>
      </small>
    </p>
  <% end %>

  <div class='row'>
    <div class='col-md-6'>
      <h2>Projects</h2>

      <%= render @projects %>
      <%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>  
    </div>  
    <div class='col-md-6'>
      <h2>Contributors</h2>

      <%= render @contributors %>
      <%== pagy_bootstrap_nav(@contributors_pagy) if @contributors_pagy.pages > 1 %>  
    </div>  
  </div>
</div>