<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
      <%= meta_title %>
    </title>
    <meta name="description" content="<%= meta_description %>">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-print-css/css/bootstrap-print.min.css" media="print">
    <script defer data-domain="ost.ecosyste.ms" src="https://plausible.ecosyste.ms/js/script.js"></script>
  </head>
  <body>
    <div class="main">
      <div class="px-4 container-md pt-2 mt-5 text-center">
        <h1 class="display-5 fw-bold">
          <a href="/" class="text-decoration-hover link-dark">Open Sustainable Technology</a>
        </h1>
        <div class="col-lg-8 mx-auto">
          <p class="lead mb-1">
            A curated list of open technology projects to sustain a stable climate, energy supply, biodiversity and natural resources. 
          </p>
          <p class='mt-0 mb-4'>
            <%= link_to 'Browse accepted projects', root_path %> | <%= link_to 'Review proposed projects', review_projects_path %> |  <%= link_to 'Propose new project', new_project_path %> | <%= link_to 'Open Issues', issues_path %>
          </p>
        </div>
      </div>

      <%= yield %>
    </div>

    <footer class="py-5 container-sm text-muted text-center">
      <%= link_to 'About', 'https://ecosyste.ms', class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'Blog', "https://blog.ecosyste.ms", class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'API', rswag_ui_path, class: 'link-dark', target: :_blank  %> — 
      <%= link_to 'Status', 'https://ecosystems.appsignal-status.com/', class: 'link-dark', target: :_blank  %>
      <br/>
      <%= link_to 'GitHub', "https://github.com/ecosyste-ms/ost", class: 'link-dark', target: :_blank  %> —
      <%= link_to 'Open Collective', "https://opencollective.com/ecosystems", class: 'link-dark', target: :_blank  %> —  
      <%= link_to 'Twitter', "https://twitter.com/ecosyste_ms", class: 'link-dark', target: :_blank  %> —  
      <%= link_to 'Mastodon', "https://mastodon.social/@ecosystems", class: 'link-dark', target: :_blank  %>
      <br/>
      Code: <%= link_to 'AGPL-3', 'https://github.com/ecosyste-ms/ost/blob/main/LICENSE', class: 'link-dark' %>  — 
      Data: <%= link_to 'CC BY-SA 4.0', 'https://creativecommons.org/licenses/by-sa/4.0/', class: 'link-dark', target: :_blank %>
    </footer>
  </body>
</html>
